* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landing Page */

.LogoText {
  width: 750px;
  background-color: rgb(239, 240, 240);
  padding: 50px;
  border-radius: 40px;
}
#sideImg {
  width: 500px;
}
.signUpDiv {
  background-image: url("https://cdn.shopify.com/s/files/1/2561/3316/files/Benefits_of_a_Minimalist_Garden-min.jpg?v=1661406513");
  background-size: cover;
  border-radius: 40px;
  width: 800px;
  height: 400px;
  text-align: center;
  padding: 50px;
  margin: 20px;
}
#landingSignUpBtn:hover {
  background-color: #297b49;
  transition: 1000ms;
}
.databaseDiv {
  border-radius: 40px;
  background-image: url(https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  width: 500px;
  height: 600px;
  text-align: center;
  padding: 50px;
  color: white;
  text-shadow: 4px 4px 4px #000000;
}
.landingPlant {
  border-radius: 40px;
}

/* My Garden */

/* Find My Plant */

/* Explore Page */
.exploreBody {
  text-align: center;
  padding: 50px;
  margin: 0px 100px;
}
.exploreGrid {
  margin-top: 50px;
}
.addBtn:hover {
  background-color: #ddf3e6;
  transition: 900ms;
}
/* Id Page */
.bar {
  border: #215a23 solid 2px;
  width: 700px;
}
.idDetailsDiv {
  padding: 50px;
}
/* Contact Page */
.contact {
  margin: 20px 100px;
}
.textFieldStack {
  width: 1000px;
  margin: auto;
  padding: 20px;
}
.exploreLink {
  text-decoration: none;
}

/* About Us */

/* Footer */
.footer {
  text-align: center;
  padding: 50px;
}
